#StatusCellProgressBar {
	background:		#999999;
	color:			white;
	border:			0px;
}

#StatusCellProgressBar::chunk:horizontal {
	background: #99aa99;
	text-align:	center;
}

#StatusTable > QHeaderView, #FilterTable > QHeaderView, #RemoteTargetTable > QHeaderView {
	background:		#555555;
	color:			#bbbbbb;
}

#StatusTable, QLineEdit, #FilterTable, #RemoteTargetTable {
	font: 			10pt verdana;
	background:		#999999;
	color:			#ffffff;
	selection-background-color:		gray;
}

#EditValid {
	background:		#99ff99;
}

#EditInvalid {
	background:		#ff9999;
}